:host {
    display: block;
}
.home-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    color: #fff;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
}
